<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Ad_ConnectionString" connectionString=" metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.216.6.58;initial catalog=cash0nsop;user id=cash0nsop;password=KxT$9!g6#yB;Trusted_Connection=False;Integrated Security = false;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <add name="Free" connectionString="data source=162.216.6.58;initial catalog=cash0nsop;user id=cash0nsop;password=KxT$9!g6#yB;Trusted_Connection=False;Integrated Security = false;" providerName="System.Data.SqlClient" />
    <add name="Ad_ConnectionStringMain" connectionString="data source=162.216.6.58;initial catalog=cash0nsop;user id=cash0nsop;password=KxT$9!g6#yB;Trusted_Connection=False;Integrated Security = false;" providerName="System.Data.SqlClient" />
    <add name="cos_OtherEntities" connectionString="metadata=res://*/App_Code.EntityData.model_Other.csdl|res://*/App_Code.EntityData.model_Other.ssdl|res://*/App_Code.EntityData.model_Other.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=162.216.6.58;Initial Catalog=cash0nsop;Persist Security Info=True;User ID=cash0nsop;Password=KxT$9!g6#yB;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
  <appSettings>
    <add key="Host" value="mail.cashonshop.com" />
    <add key="EnableSsl" value="false" />
    <add key="UserName" value="support@cashonshop.com" />
    <add key="UserNameCare" value="care@cashonshop.com" />
    <add key="UserNameInfo" value="info@cashonshop.com" />
    <add key="UserNameNewsletter" value="newsletter@cashonshop.com" />
    <add key="Password" value="KxT$9!g6#yB" />
    <add key="Port" value="587" />
    <!-- <add key="MERCHANT_KEY" value="eGPLUxr0" />
    <add key="SALT" value="cugxEUthi2" />
   <add key="PAYU_BASE_URL" value="https://test.payu.in" />-->
    <add key="PAYU_BASE_URL" value="https://secure.payu.in" />
    <add key="MERCHANT_KEY" value="YtVm7wMp" />
    <add key="SALT" value="ywGaRe7JFg" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10|salt" />
    <add key="BannerImageUrl" value="http://www.cashonshop.com/Images/BannerImage/" />
    <add key="ImageUrl" value="http://www.cashonshop.com/Images/BannerImage/" />

  </appSettings>
  <system.webServer>
    
    <!--<handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>-->
  </system.webServer>
  <!--<system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>-->
  <system.web>

    <customErrors mode="Off"/>
    <trust level="Full" />
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="120000" maxRequestLength="522488"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx" protection="All" name=".ASPXFORMSAUTH" timeout="2880" />
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
    </authorization>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Ad_ConnectionStringMain" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="500" passwordFormat="Clear" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="500" applicationName="Web_App" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Ad_ConnectionStringMain" applicationName="Web_App" />
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="RoleProvider">
      <providers>
        <clear />
        <add name="RoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Ad_ConnectionStringMain" applicationName="Web_App" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Web_App" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
  </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
  <!--<handlers>
   
    <add name="myImageHandler" verb="*" path="*.jpg" type="WebApplicationFree.ImageHandler"/>
  </handlers>-->
</configuration>