<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="Ad_ConnectionString" connectionString=" metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=cosdb;user id=ashish;password=Aaashish@12;Trusted_Connection=False;Integrated Security = false;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ad_ConnectionStringMain" connectionString="data source=(local);initial catalog=cosdb;user id=ashish;password=Aaashish@12;Trusted_Connection=False;Integrated Security = false;" providerName="System.Data.SqlClient" />-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <!--<add name="Ad_ConnectionString" connectionString=" metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5009.myWindowsHosting.com;initial catalog=DB_9BD541_aashishshar;user id=DB_9BD541_aashishshar_admin;password=aaashish;Trusted_Connection=False;Integrated Security = false;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--"Data Source=SQL5009.myWindowsHosting.com;Initial Catalog=DB_9BD541_aashishshar;User Id=DB_9BD541_aashishshar_admin;Password=YOUR_DB_PASSWORD;"-->
    <!--
    -->
    <!--<add name="Ad_ConnectionString" connectionString=" metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=data source=SQL5009.myWindowsHosting.com;initial catalog=DB_9BD541_aashishshar;persist security info=True;user id=DB_9BD541_aashishshar_admin;password=aaashish;Trusted_Connection=False;Integrated Security = true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--
    <add name="Ad_ConnectionStringMain" connectionString="data source=SQL5009.myWindowsHosting.com;initial catalog=DB_9BD541_aashishshar;user id=DB_9BD541_aashishshar_admin;password=aaashish;Trusted_Connection=False;Integrated Security = false;" providerName="System.Data.SqlClient" />-->
    <add name="Ad_ConnectionString" connectionString=" metadata=res://*/App_Code.EntityData.Model_Advertise.csdl|res://*/App_Code.EntityData.Model_Advertise.ssdl|res://*/App_Code.EntityData.Model_Advertise.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=cosdb;persist security info=True;user id=sa;password=pass@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ad_ConnectionStringMain" connectionString="data source=(local);initial catalog=cosdb;user id=sa;password=pass@123" providerName="System.Data.SqlClient" />
    <add name="Free" connectionString="data source=(local);initial catalog=cosdb;user id=sa;password=pass@123" providerName="System.Data.SqlClient" />
    <!--metadata=res://*/App_Code.EntityData.Model_Advertise.csdl|res://*/App_Code.EntityData.Model_Advertise.ssdl|res://*/App_Code.EntityData.Model_Advertise.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=cosdb;persist security info=True;user id=sa;password=aaashish;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ad_ConnectionString" connectionString=" metadata=res://*/App_Code.EntityData.Model_Advertise.csdl|res://*/App_Code.EntityData.Model_Advertise.ssdl|res://*/App_Code.EntityData.Model_Advertise.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5009.myWindowsHosting.com;initial catalog=DB_9BD541_aashishshar;persist security info=True;user id=DB_9BD541_aashishshar_admin;password=aaashish;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ad_ConnectionStringMain" connectionString="data source=SQL5009.myWindowsHosting.com;initial catalog=DB_9BD541_aashishshar;user id=DB_9BD541_aashishshar_admin;password=aaashish" providerName="System.Data.SqlClient" />
-->
  </connectionStrings>
  <!--<system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>-->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="240" maxRequestLength="30480" />
    <customErrors mode="Off" />
    <pages validateRequest="false" />
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx" protection="All" name=".ASPXFORMSAUTH" timeout="2880" />
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
    </authorization>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Ad_ConnectionStringMain" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" passwordFormat="Clear" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Web_App" />
      </providers>
    </membership>
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Ad_ConnectionStringMain" applicationName="Web_App" />
      </providers>
      <properties>
        <add name="CurrentUser" type="ProfileProperty" />
        <add name="PostalCode" />
      </properties>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="RoleProvider">
      <providers>
        <clear />
        <add name="RoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Ad_ConnectionStringMain" applicationName="Web_App" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Web_App" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
  <!--<handlers>
   
    <add name="myImageHandler" verb="*" path="*.jpg" type="WebApplicationFree.ImageHandler"/>
  </handlers>-->
</configuration>